* {
    box-sizing: border-box;
}

.header{
height: 5%;
background-color: blue;
}

div {
    word-wrap: break-word;
}

.chat-column {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

    font-size: 16px;

    height: 100%;
    padding: 0.9375rem 0 0.625rem 0;
    margin: auto;
    text-align: left;
    max-width: 25rem;
    min-width: 9.375rem;
    background-color: gray;
}

#chat {
    margin: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 74%;
}

.message-inner {
    opacity: 0;
    opacity: 1;
    margin-top: 0.9375rem;
}

.from-user {
    text-align: right;
}

.from-user .message-inner {
    position: relative;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    background: blue;
    border-radius: 1.25rem;
    border-top-right-radius: 0;
    text-align: left;
    display: inline-block;
    margin-left: 2.5rem;
    min-width: 2.5rem;
}

.from-user .message-inner p {
    margin: 0.3125rem;
    padding: 0 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
    content: "";
    position: absolute;
}


.from-user .message-inner:after {
    z-index: -1;
    bottom: -0.5rem;
    right: 0;
    height: 0.5rem;
    width: 0.5rem;
    background: #fff;
    border-top-right-radius: 1.25rem;
}

.from-watson .message-inner {
    position: relative;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    background: black;
    border-radius: 1.25rem;
    border-top-left-radius: 0;
    text-align: left;
    display: inline-block;
    margin-left: 2.5rem;
    min-width: 2.5rem;
}

.from-watson p {
    margin: 0.3125rem;
    padding: 0 1.25rem;
}

#textInput {
    border: none;
    outline: none;
    background: white;
    font-size: 1rem;
    color: #323232;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    height: 2.5rem;
    width: 80%;
    padding-left: 0.125rem;
    margin-bottom: -0.125rem;
    overflow: auto;
}

.sendButton{
        height: 2.5rem;
}

.inputOutline {
    display: block;
    border: 0.0625rem solid #aeaeae;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}



@media only screen and (max-width: 1000px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .chat-column {
        padding-top: 4rem;
    }
}

.img-fluid{
    height: 11% !important;
}